{% import "./rewiew.njk" as rewiew %}
<div class="reviews-block_body">
	{{ rewiew.item('w02.jpg','Мария','11 сентября 2020 г.','Задумались о строительстве загородного дома. Дом из бруса в 2 этажа. Читали различные отзывы, консультировались. Фундамент решили делать на винтовых сваях. По цене приемлемо получилось. Установку свай выполнили быстро (всего 1 день) и без применения техники. Рекомендуем!') }}
	{{ rewiew.item('w03.jpg','Татьяна','02 сентября 2020 г.','За небольшие деньги приобрели земельный участок в живописном месте около реки. В первую очередь нужно было огородить участок  и установить забор. Поскольку участок около реки, то решено было устанавливать свайный фундамент под забор. С таким крепким забором и возможное наводнение не страшно.') }}
	{{ rewiew.item('m03.jpg','Константин Александрович','20 августа 2020 г.','На моём неровном участке с перепадами высот и грунтовыми водами самым лучшим вариантом стал только фундамент на винтовых сваях. Построили дом и баньку. Ничего не шатается. Полы в доме идеально ровные.') }}
</div>
<div class="reviews-block_btn"><a href="{{common.domain}}/otzivi/" class="btn btn-type1">Посмотреть другие отзывы</a></div>